body {
	background-color: #5B9279;
	color :black;
	font-family:'Roboto', sans-serif;
	font-size: 26px;
}

h1, h2, h3 {
  font-family:'Raleway', sans-serif;
}



h1 {
  color: black;
  font-size: 60px;
  font-family: Raleway,sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
}

h2 {
  color: #875053;
  background-color: #F5FDC6;
  border-radius: 35% ;
  font-size: 42px;
  font-weight: lighter;
  font-weight: 700;
  text-align: center;
  padding: 8px;
  margin-bottom: 20px;
}

a {
	font-family:'Raleway', sans-serif;
  text-decoration: none;
  font-weight: bold;
  color: #F5FDC6;
}

a:hover {
  color: #F5FDC6;
  text-decoration: none;
}

.images_profile {
	margin: 10px;
	width : 300px; 
	border-radius: 5% ;
}
.food {
	margin: 10px;
	width : 400px; 
	border-radius: 5% ;
}
.food2 {
	margin: 10px;
	width : 350px; 
	border-radius: 5% ;
}
.patinoire {
	margin: 10px;
	width : 400px; 
	border-radius: 5% ;
}
.patinoire2 {
	margin: 10px;
	width : 550px; 
	border-radius: 5% ;
}
.planski {
	margin: 10px;
	width : 300px; 
	border-radius: 5% ;
}
.ski {
	margin: 10px;
	width : 500px; 
	border-radius: 5% ;
}

.list-inline {
	display: flex;
    justify-content: space-around;
}

.img_center {
	display: flex;
	justify-content: center;
}

p {
  text-align: justify;
}

.container {
	width: 1000px ;
	margin: 20px auto;
}

.card-white {
	background-color: #B3E283;
	padding: 60px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.9);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.images {
	border-radius: 5% ;
}

.btn-blue {
	background-color:lightslategrey ;
	color: #F5FDC6;
	padding: 15px 20px;
	border-radius: 4px;
	margin: 20px 150px;

}

.btn-blue:hover {
	background-color:#5B9279 ;
	color: #F5FDC6;
}

.list-inline {
	list-style: none;
}

.li_largeur {
 margin: 25px 200px
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
	color: rgb(230,230,230);
}

.list-inline i:hover {
	color: #5B9279;
}

#introduction p {
	margin-bottom: 40px;
}

@media (max-device-width: 500px){
	.container {
		width: 700px;
	}
	.img_center{
		display: block;
	}
}